<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="io.github.kirby.deeptranslate.permission.CACHE"
        android:protectionLevel="signature" />
    <uses-permission android:name="io.github.kirby.deeptranslate.permission.CACHE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS"/>

    <application
        android:label="DeepTranslate"
        android:name=".XposedPrefsSyncApp"
        android:description="@string/module_description"
        android:forceQueryable="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".MainActivityAlias"
            android:targetActivity=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="DeepTranslate"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <provider
            android:name=".CacheSyncProvider"
            android:authorities="io.github.kirby.deeptranslate.cache"
            android:exported="true" />
        <receiver
            android:name=".ErrorLogReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.kirby.deeptranslate.ERROR_LOG" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
